#menu
{
	position: fixed;
	top: 0;
	width: 100%;
	height: 46px;
	background: lightgrey;
	text-align: center;
	font: 15px  Calibri, sans-serif;
	
}
li {
  list-style-type: none;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #1F85DE;
}

#about
{
	text-align: center;
	font: 18px  Calibri Light, sans-serif;

}

#photos
{
	text-align: center;
	font: 18px Calibri Light, sans-serif;
	
	margin-top: -20px;
	padding-top: 20px;
}

#playlist
{
	text-align: center;
	font: 18px Calibri Light, sans-serif;
	
}

#like
{
	margin-top: -20px;
	padding-top: 20px;
	text-align: center;
	font: 18px Calibri Light, sans-serif;

}

#qrcoder
{
	text-align: center;
	font: 18px Calibri Light, sans-serif;
	
} 

#spa
{
	text-align: center;
	font: 18px Calibri Light, sans-serif;

}
#contact
{
	text-align: center;
	font: 18px Calibri Light, sans-serif;
	
}

* {
	box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
	position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
	display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
	cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
	cursor: pointer;
	position: center;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: black;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
	background-color: rgba(248, 248, 248, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #4b4949;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 8px;
	left: 16px;
  }
  
  /* Container for image text */
  .caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 8px;
	color: white;
  }
  
  .row:after {
	content: "";
	display: table;
	clear: none;
  }
  
  /* 8 columns side by side */
  .column {
	float: left;
	width: 12.5%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
	opacity: 0.6;
  }
  .demo:hover {
	  transform: scale(2);
}
  .active,
  .demo:hover {
	opacity: 1;
  }

